.signup

  .signup__header
    = render "devise/sessions/header"

  .signup__main
    .signup__main__container
      .signup__main__container__head
        %p 会員情報入力
      .signup__main__container__register-form
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          
          -# ニックネーム
          .signup__main__container__register-form__label-top
            %i.fas.fa-user
            = f.label :nickname, "ニックネーム"
            %span.form-require 必須
          .input
            = f.text_field :nickname, class: "input-full", autocomplete: "nickname", placeholder: "例）フリマ太郎"

          -# メールアドレス
          .signup__main__container__register-form__label-top
            %i.fas.fa-envelope
            = f.label :email, "メールアドレス"
            %span.form-require 必須
          .input
            = f.email_field :email, class: "input-full", autocomplete: "email", placeholder: "PC・携帯どちらでも可"

          -# パスワード
          .signup__main__container__register-form__label-top
            %i.fas.fa-key
            = f.label :password, "パスワード"
            %span.form-require 必須
          .input
            = f.password_field :password, class: "input-full", autocomplete: "new-password", placeholder: "7文字以上の半角英数字"
          .signup__main__container__register-form__form-info
            %p ※ 英字と数字の両方を含めて設定してください

          -# パスワード（確認）
          .signup__main__container__register-form__label-top
            %i.fas.fa-key
            = f.label :password, "パスワード（確認）"
            %span.form-require 必須
          .input
            = f.password_field :password, class: "input-full", autocomplete: "new-password", placeholder: "パスワード確認用"

          -# お名前(全角)  
          .signup__main__container__register-form__label-bottom
            %i.fas.fa-user-circle
            = f.label :name, "お名前（全角）"
            %span.form-require 必須
          .input-name
            .input-name__last-name
              = f.text_field :last_name, class: "input-half", autocomplete: "last_name", placeholder: "例）山田"
            .input-name__first-name
              = f.text_field :first_name, class: "input-half", autocomplete: "first_name", placeholder: "例）彩"

          -# お名前カナ(全角)  
          .signup__main__container__register-form__label-bottom
            %i.fas.fa-user-circle
            = f.label :name, "お名前カナ（全角）"
            %span.form-require 必須
          .input-name
            .input-name__last-name
              = f.text_field :last_name_kana, class: "input-half", autocomplete: "last_name_kana", placeholder: "例）ヤマダ"
            .input-name__first-name
              = f.text_field :first_name_kana, class: "input-half", autocomplete: "first_name_kana", placeholder: "例）アヤ"

          -# 生年月日
          .signup__main__container__register-form__label-bottom
            %i.fas.fa-birthday-cake
            = f.label :birthday, "生年月日"
            %span.form-require 必須
          .signup__main__container__register-form__input-birthday
            = raw sprintf(f.date_select(:birthday, prompt:"--", use_month_numbers: true, start_year:Time.now.year, end_year:(1900), date_separator:'%s'), '年 ', '月 ') + '日' 

          -# 郵便番号
          .signup__main__container__register-form__label-destination
            %i.fas.fa-map-marker-alt
            = f.label "郵便番号", class: "destinations-form__index__postal-code"
            %span.form-require 必須
          .input-postal-code
            = f.text_field :postal_code, placeholder: "例）1234567", class: "destinations-form__index__postal-code__field", id: "destination_postal_code"

          -# 都道府県
          .signup__main__container__register-form__label-destination
            %i.fas.fa-city
            = f.label "都道府県", class: "destinations-form__index__prefectures"
            %span.form-require 必須
          .input-prefectures
          -#   = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: ""}, {class: "destinations-form__index__prefectures__box"}

          -# 市区町村
          .signup__main__container__register-form__label-destination
            %i.fas.fa-city
            = f.label "市区町村", class: "destinations-form__index__city"
            %span.form-require 必須
          .input-city
          -#   = f.text_field :city, placeholder: "例）新宿区", class: "destinations-form__index__city__field", id: "destination_city"

          -# 番地
          .signup__main__container__register-form__label-destination
            %i.fas.fa-city
            = f.label "番地", class: "destinations-form__index__block"
            %span.form-require 必須
          .input-block
          -#   = f.text_field :block, placeholder: "例）青山1-1-1", class: "destinations-form__index__block__field", id: "destination_block"

          -# 建物名
          .signup__main__container__register-form__label-destination
            %i.far.fa-building
            = f.label "建物名", class: "destinations-form__index__building"
            %span.form-require 任意
          .input-building
          -#   = f.text_field :building, placeholder: "例）野原ビル201", class: "destinations-form__index__building__field"

          -# 電話番号
          .signup__main__container__register-form__label-destination
            %i.fas.fa-mobile-alt
            = f.label "電話番号", class: "destinations-form__index__phone-number"
            %span.form-require 任意
          .input-phone-number
          -#   = f.text_field :phone_number, placeholder: "例）080-1234-5678", class: "destinations-form__index__phone-number__field"

          .signup__main__container__register-form__form-info
            %p 
              ※ 本人情報は正しく入力してください。会員登録後、
              %br
              修正するにはお時間を頂く場合があります。

          .signup__main__container__register-form__actions
            = f.submit "登 録", class: "signup__main__container__register-form__submit-btn"

          .signup__main__container__register-form__about
            =  link_to "#" do
              本人情報の登録について
              = icon 'fas', 'chevron-right', class: "about-icon"

          .signup__main__container__register-form__form-policy
            %p
              This site is protected by reCAPTCHA and the Google
              %br
              Privacy Policy and Terms of Service apply.

  .signup__footer
    = render "devise/sessions/footer"