.form-wapper
  = form_tag(pay_credit_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do

    .signup-card

      .signup-card__header
        = render "devise/sessions/header"

      .signup-card__main
        .signup-card__main__container
          .signup-card__main__container__head
            %p クレジットカード情報入力

          .signup-card__main__container__register-form
            
            -# カード番号 入力フォーム
            .signup-card__main__container__register-form__label
              = icon 'fas', 'credit-card', class:"icon"
              %label カード番号
              %span.form-require 必須
            = text_field_tag "number", "", class: "number", placeholder: "半角数字のみ", maxlength: "16", type: "text", id: "card_number"
            .signup-card__main__container__register-form__image
              .visa
                -# = image_tag "visa.png", class: "visa"
                %img( src="https://pcweb-assets.mercdn.net/assets/img/card/visa.svg?3222000695")
              .mastercard
                -# = image_tag "mastercard.png", class: "mastercard"
                %img( src="https://pcweb-assets.mercdn.net/assets/img/card/master-card.svg?3222000695")
              .SAISONcard
                -# = image_tag "SAISONcard.png", class: "SAISONcard"
                %img( src="https://pcweb-assets.mercdn.net/assets/img/card/saison-card.svg?3222000695")
              .JCB
                -# = image_tag "JCB.png", class: "JCB"
                %img( src="https://pcweb-assets.mercdn.net/assets/img/card/jcb.svg?3222000695")
              .AmericanExpress
                -# = image_tag "AmericanExpress.png", class: "AmericanExpress"
                %img( src="https://pcweb-assets.mercdn.net/assets/img/card/american_express.svg?3222000695")
              .DinersClub
                -# = image_tag "DinersClub.png", class: "DinersClub"
                %img( src="https://pcweb-assets.mercdn.net/assets/img/card/dinersclub.svg?3222000695")
              .DISCOVER
                -# = image_tag "DISCOVER.png", class: "DISCOVER"
                %img( src="https://pcweb-assets.mercdn.net/assets/img/card/discover.svg?3222000695")

            -# 有効期限 入力フォーム
            .signup-card__main__container__register-form__label
              = icon 'fas', 'stopwatch', class:"icon"
              %label 有効期限
              %span.form-require 必須

            .term
              %select{ name: "exp_month", type: "text", class: "input-term", id: "exp_month"}
                %option{ value: "1"} 01
                %option{ value: "2"} 02
                %option{ value: "3"} 03
                %option{ value: "4"} 04
                %option{ value: "5"} 05
                %option{ value: "6"} 06
                %option{ value: "7"} 07
                %option{ value: "8"} 08
                %option{ value: "9"} 09
                %option{ value: "10"}10
                %option{ value: "11"}11
                %option{ value: "12"}12
              %span.term-label 月

              %select{ name: "exp_year", type: "text", class: "input-term", id: "exp_year"}
                %option{ value: "2020"} 20
                %option{ value: "2021"} 21
                %option{ value: "2022"} 22
                %option{ value: "2023"} 23
                %option{ value: "2024"} 24
                %option{ value: "2025"} 25
                %option{ value: "2026"} 26
                %option{ value: "2027"} 27
                %option{ value: "2028"} 28
                %option{ value: "2029"} 29
                %option{ value: "2030"} 30
              %span.term-label 年

            -# セキュリティコード入力フォーム
            .signup-card__main__container__register-form__label
              = icon 'fas', 'key', class:"icon"
              %label セキュリティコード
              %span.form-require 必須
            = text_field_tag "cvc", "", class: "cvc", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"

            .signup-card__main__container__register-form__btn
            = submit_tag "登 録", class: "signup-card__main__container__register-form__btn", id: "token_submit"

      .signup-card__footer
        = render "devise/sessions/footer"