%li.pickup
  %h2.pickup__title
    ピックアップカテゴリー
  .pickup__container
    = link_to "新規登録商品", "#" , class: "pickup__container__title"
    .pickup__container__items
      = render "item-preview", locals: { products: @products }

%li.pickup.last-pickup
  %h2.pickup__title
    ピックアップブランド
  .pickup__container
    = link_to "アーカイバ", "#" , class: "pickup__container__title"
    .pickup__container__items
      .pickup__container__items__item.item
        = link_to "#" do
          .item__image-box
            = image_tag "hoge.png" , class: "item__image-box__image"
          .item__caption
            %h3.item__caption__name test-product
            .item__caption__details
              .item__caption__details__price
                30000
              %p.item__capiton__details__like
                ★０
            %p.item__caption__tax (税込)