.sign-up
  .sign-up__header
    = render "devise/sessions/header"
  .sign-up__main
    .sign-up__main__form
      .sign-up__main__form__index
        新規会員登録
      .sign-up__main__form__login
        .sign-up__main__form__login__sns
          = link_to new_user_registration_path, class:"sign-up__main__form__login__sns__mail" do
            %i.fas.fa-envelope
            メールアドレスで登録
          = link_to logs_path , class:"sign-up__main__form__login__sns__google" do
            %i.fab.fa-google
            Googleで登録
          = link_to "#", class:"sign-up__main__form__login__sns__facebook" do
            %i.fab.fa-facebook-square
            facebookで登録
          = link_to "#", class:"sign-up__main__form__login__sns__apple" do
            %i.fab.fa-apple
            AppleIDで登録

        .sign-up__main__form__login__notice
          登録することで、利用規約とプライバシーポリシーに同意したものとみなされます

  .sign-up__footer
    = render "devise/sessions/footer"
