.sign-up
  .sign-up__header
    = render "devise/sessions/header"
  .sign-up__main
    .sign-up__main__form
      .sign-up__main__form__index
        %p 新規会員登録
      .sign-up__main__form__login
        .sign-up__main__form__login__sns
          = link_to "メールアドレスで登録", new_user_registration_path ,class:"sign-up__main__form__login__sns__mail"
          = link_to "googleで登録", "#" ,class:"sign-up__main__form__login__sns__google"
          = link_to "facebookで登録", "#" ,class:"sign-up__main__form__login__sns__facebook"
          = link_to "AppleIDで登録", "#" ,class:"sign-up__main__form__login__sns__apple"
        %p.sign-up__main__form__login__notice
          登録することで、利用規約とプライバシーポリシーに同意したものとみなされます。

  .sign-up__footer
    = render "devise/sessions/footer"
