.header
  .header__inner
    .header__inner__top
      %h1.header__inner__top__logo
        = link_to root_path do
          = image_tag "logo.png" , class:"header__inner__top__logo__furima-logo"
      .header__inner__top__search
        = form_tag "#", method: :get, class: "header__inner__top__search__form" do
          = text_field_tag :keyword, "", class: "header__inner__top__search__form__input", placeholder: "キーワードから探す"
          = button_tag type: "submit",class: "header__inner__top__search__form__button" do
            = image_tag "icon-search 1.png" , class:"header__inner__top__search__form__button__search-icon"
            
    .header__inner__nav.nav
      .nav__left
        %h1.nav__left__category
          %span.nav__left__category__title カテゴリー
          .nav__left__category__list
            .nav__left__category__list__parents
              - @parents.each do |parent|
                = link_to "#{parent.name}", "#", class: "parent_category",id: "#{parent.id}"
            .nav__left__category__list__children 
            .nav__left__category__list__grand-children
        %h1.nav__left__brand
          ブランド

      .nav__right
        - if user_signed_in?
          = link_to "マイページ(仮)" , user_path(current_user.id), class: "nav__right__login"
          = link_to "ログアウト(仮)", destroy_user_session_path, method: :delete, class: "nav__right__signup"
        - else
          = link_to "ログイン" , new_user_session_path, class: "nav__right__login"
          = link_to "新規会員登録", users_path, class: "nav__right__signup"
