.destinations-form
  %h1.destinations-form__title
    発送元・お届け先住所変更
  .destinations-form__index
    = form_with(model: [@user,@destination],local: true) do |f|
      -# - if @destination.errors.any?
      -#   %h3
      -#     入力した内容にエラーが
      -#     = @destination.errors.count
      -#     件あります
      -#   %ul
      -#     - @destination.errors.full_messages.each do |message|
      -#       %li= message
      .destinations-form__index__group-name
        %i.fas.fa-user-circle
        = f.label "お名前", class: "destinations-form__index__name"
        %span.destinations-form__index__name__imperative
          必須
        = f.text_field :last_name, placeholder: "例）山田", class: "destinations-form__index__first-name", id: "destinations_last_name"
        = f.text_field :first_name, placeholder: "例）彩", class: "destinations-form__index__last-name", id: "destinations_first_name"

      .destinations-form__index__group-kana
        %i.fas.fa-user-circle
        = f.label "お名前（カナ）", class: "destinations-form__index__kana"
        %span.destinations-form__index__kana__imperative
          必須
        = f.text_field :last_name_kana, placeholder: "例）ヤマダ", class: "destinations-form__index__first-kana", id: "destinations_last_name_kana"
        = f.text_field :first_name_kana, placeholder: "例）アヤ", class: "destinations-form__index__last-kana", id: "destinations_first_name_kana"

      .destinations-form__index__group-postal-code
        %i.fas.fa-map-marker-alt
        = f.label "郵便番号", class: "destinations-form__index__postal-code"
        %span.destinations-form__index__postal-code__imperative
          必須
        = f.text_field :postal_code, placeholder: "例）123-4567", class: "destinations-form__index__postal-code__field", id: "destination_postal_code"

      .destinations-form__index__group-prefectures
        %i.fas.fa-city
        = f.label "都道府県", class: "destinations-form__index__prefectures"
        %span.destinations-form__index__prefectures__imperative
          必須
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: ""}, {class: "destinations-form__index__prefectures__box"}

      .destinations-form__index__group-city
        %i.fas.fa-city
        = f.label "市区町村", class: "destinations-form__index__city"
        %span.destinations-form__index__city__imperative
          必須
        = f.text_field :city, placeholder: "例）新宿区", class: "destinations-form__index__city__field", id: "destination_city"

      .destinations-form__index__group-block
        %i.fas.fa-city
        = f.label "番地", class: "destinations-form__index__block"
        %span.destinations-form__index__block__imperative
          必須
        = f.text_field :block, placeholder: "例）青山1-1-1",class: "destinations-form__index__block__field", id: "destination_block"

      .destinations-form__index__group-building
        %i.far.fa-building
        = f.label "建物名", class: "destinations-form__index__building"
        %span.destinations-form__index__building__imperative
          任意
        = f.text_field :building, placeholder: "例）野原ビル201", class: "destinations-form__index__building__field"

      .destinations-form__index__group-phone-number
        %i.fas.fa-mobile-alt
        = f.label "電話番号", class: "destinations-form__index__phone-number"
        %span.destinations-form__index__phone-number__imperative
          任意
        = f.text_field :phone_number, placeholder: "例）080-1234-5678", class: "destinations-form__index__phone-number__field"
      
      =f.submit "登録する", class: "destinations-form__index__submit-btn"