.confirmation
  .confirmation__main
    .confirmation__main__title
      クレジットカード情報
    .confirmation__main__info
      .confirmation__main__info__brand
        = image_tag "#{@card_src}", class: "confirmation__main__info__brand__img", alt: @card_brand
      .confirmation__main__info__numbers
        .number
          = "**** **** **** " + @card_information.last4
        .expiration-date
          .expiration-date__label
            有効期限
          .expiration-date__info
            - exp_month = @card_information.exp_month.to_s
            - exp_year = @card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
    .destroy-btn
      = link_to credit_destroy_user_path, method: :delete, class: "destroy-btn" do
        削除する