.putup
  .putup__header
    = render "header_products"

  .putup__main
    = form_for @product, :url => {controller: "products", action: "new"} do |f|
      .putup__main__upload
        %label.putup__main__upload__title
          出品画像
          %span.putup__main__upload__title__imperative
            必須
        %p.putup__main__upload__description
          最大10枚までアップロードできます
        %textarea{class: "putup__main__upload__image-box", rows: "5", placeholder:'ドラッグアンドドロップまたはクリックしてファイルをアップロード'}

      %hr.putup__main__separate-line

      .putup__main__name
        %p.putup__main__name__title
          商品名
          %span.putup__main__name__title__imperative
            必須
        %input{type: "text", class: "putup__main__name__text-box", placeholder:'40文字まで'}

      .putup__main__description 
        %p.putup__main__description__title
          商品の説明
          %span.putup__main__description__title__imperative
            必須
        %textarea{class: "putup__main__description__text-box", rows: "6", 
        placeholder:'商品の説明（必須 1,000文字以内）,
        （色、素材、重さ、定価、注意点など）,
        ,
        例）2010年頃に1万円で購入したジャケットです。,
        ライトグレーで傷はありません。あわせやすいのでおすすめです。'}

      %hr.putup__main__separate-line

      .putup__main__product-detail 
        %p.putup__main__product-detail__title
          商品の詳細

      .putup__main__category 
        %p.putup__main__category__title
          カテゴリー
          %span.putup__main__category__title__imperative
            必須
        = f.collection_select :product_category_id, ProductCategory.where(id: 1..13), :id, :name,  {prompt: '選択してください'},{class: "putup__main__category__select-box",id: "product_category_parent"}
        .putup__main__category__select-box--children#children_box
        .putup__main__category__select-box--grandchildren#grandchildren_box

      .putup__main__brand
        %p.putup__main__brand__title
          ブランド
          %span.putup__main__brand__title__optional
            任意
        %input{type: "text", class: "putup__main__brand__text-box", placeholder:'例）シャネル'}

      .putup__main__condition
        %p.putup__main__condition__title
          商品の状態
          %span.putup__main__condition__title__imperative
            必須
        %select{class: "putup__main__condition__select-box"}
          %option{:value => "0"}  選択してください
          %option{:value => "1"}  新品、未使用
          %option{:value => "2"}  未使用に近い
          %option{:value => "3"}  目立った傷や汚れなし
          %option{:value => "4"}  やや傷や汚れあり
          %option{:value => "5"}  傷や汚れあり
          %option{:value => "6"}  全体的に状態が悪い
          -# active_hashで商品の状態を実装予定(仮実装)

      %hr.putup__main__separate-line

      .putup__main__delivery 
        %p.putup__main__delivery__title
          配送について
          = link_to "?", 'https://www.mercari.com/jp/help_center/article/68/', class:"putup__main__delivery__title__icon" 

      .putup__main__postage-way
        %p.putup__main__postage-way__title
          配送料の負担
          %span.putup__main__postage-way__title__imperative
            必須
        %select{class: "putup__main__postage-way__select-box"}
          %option{:value => "0"}  選択してください
          %option{:value => "1"}  送料込み(出品者負担)
          %option{:value => "2"}  着払い(購入者負担)
          -# active_hashで配送料の負担を実装予定(仮実装)

      .putup__main__prefecture
        %p.putup__main__prefecture__title
          発送元の地域
          %span.putup__main__prefecture__title__imperative
            必須
        %select{class: "putup__main__prefecture__select-box"}
          %option{:value => "0"}  選択してください
          %option{:value => "1"}  北海道
          %option{:value => "2"}  青森
          -# active_hashで都道府県を実装予定(仮実装)

      .putup__main__shipping-day
        %p.putup__main__shipping-day__title
          発送までの日数
          %span.putup__main__shipping-day__title__imperative
            必須
        %select{class: "putup__main__shipping-day__select-box"}
          %option{:value => "0"}  選択してください
          %option{:value => "1"}  1〜2日で発送
          %option{:value => "2"}  2〜3日で発送
          %option{:value => "3"}  4〜7日で発送
          -# active_hashで発送までの日数を実装予定(仮実装)

      %hr.putup__main__separate-line

      .putup__main__price-range
        %p.putup__main__price-range__title
          価格（¥300〜9,999,999）
          = link_to "?", 'https://www.mercari.com/jp/help_center/article/64/', class:"putup__main__price-range__title__icon" 

      .putup__main__price
        %ul.putup__main__price__contents
          %li.putup__main__price__contents__content
            .putup__main__price__contents__content__frame
              .putup__main__price__contents__content__frame__title-box
                %label.putup__main__price__contents__content__frame__title-box__title
                  販売価格
                  %span.putup__main__price__contents__content__frame__title-box__title__imperative
                    必須
              .putup__main__price__contents__content__frame__input
                %p.putup__main__price__contents__content__frame__input__yen
                  ¥
                %input{type: "number",min: "300", max: "9999999", class: "putup__main__price__contents__content__frame__input__number-box", placeholder:'0'}

      .putup__main__commission
        %ul.putup__main__commission__contents
          %li.putup__main__commission__contents__content
            .putup__main__commission__contents__content__frame
              .putup__main__commission__contents__content__frame__title-box
                %label.putup__main__commission__contents__content__frame__title-box__title
                  販売手数料（10%）
              .putup__main__commission__contents__content__frame__input
                %p.putup__main__commission__contents__content__frame__input__calc-result
                  ー

      %hr.putup__main__separate-line

      .putup__main__profit
        %ul.putup__main__profit__contents
          %li.putup__main__profit__contents__content
            .putup__main__profit__contents__content__frame
              .putup__main__profit__contents__content__frame__title-box
                %label.putup__main__profit__contents__content__frame__title-box__title
                  販売利益
              .putup__main__profit__contents__content__frame__input
                %p.putup__main__profit__contents__content__frame__input__calc-result
                  ー

      .putup__main__submit
        %input{type: "submit", class: "putup__main__submit__submit-btn", value:'出品する'}

      .putup__main__draft
        %input{type: "submit", class: "putup__main__draft__submit-btn", value:'下書きに保存'}

      .putup__main__page-transition
        %p.putup__main__page-transition__title
          = link_to "#", class: "putup__main__page-transition__title__link" do
            もどる

      .putup__main__prohibit
        %p.putup__main__prohibit__script
          禁止されている
          = link_to "行為", 'https://www.mercari.com/jp/help_center/getting_started/prohibited_conduct/', class:"putup__main__prohibit__script__action"
          および
          = link_to "出品物", 'https://www.mercari.com/jp/help_center/getting_started/prohibited_items/', class:"putup__main__prohibit__script__action"
          を必ずご確認ください。
          = link_to "偽ブランド品", 'https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/', class:"putup__main__prohibit__script__action"
          や
          = link_to "盗品物", 'https://www.mercari.com/jp/help_center/getting_started/report_counterfeit_goods/', class:"putup__main__prohibit__script__action"
          などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
          = link_to "加盟店規約", 'https://www.mercari.com/jp/seller_terms/', class:"putup__main__prohibit__script__action"
          に同意したことになります。

    = render partial: "form"

  .putup__footer
    = render "footer_products"