.purchase
  .purchase__header
    = render "header_products"

  .purchase__main
    %h2.purchase__main__product-confirmation
      購入内容の確認

    .purchase__main__product-info
      .purchase__main__product-info__inner
        .purchase__main__product-info__inner__content
          %h3.purchase__main__product-info__inner__content__img
            %img(src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png")/
          .purchase__main__product-info__inner__content__detail
            .purchase__main__product-info__inner__content__detail
              %p.purchase__main__product-info__inner__content__detail__name
                product3
              %p.purchase__main__product-info__inner__content__detail__price
                %span
                  ¥30000
                %span.purchase__main__product-info__inner__content__detail__price__tax
                  (税込) 送料込み

    .purchase__main__payment-info
      .purchase__main__payment-info__innner
        %form{:action => "#", class: "purchase__main__payment-info__innner__form", :method => "post"}
          .purchase__main__payment-info__innner__form__table
            .purchase__main__payment-info__innner__form__table__pay-label
              支払い金額
            .purchase__main__payment-info__innner__form__table__pay-amount
              ¥30000

          .purchase__main__payment-info__innner__form__user-info
            %h3.purchase__main__payment-info__innner__form__user-info__pay-method
              支払い方法
            - if @card.blank?
              %p.purchase__main__payment-info__innner__form__user-info__text
                = link_to credit_new_product_path(current_user.id), class: "purchase__main__payment-info__innner__form__user-info__text" do
                  = icon('fas', 'plus-circle')
                  登録してください
            - else
              %p.purchase__main__payment-info__innner__form__user-info__text
                クレジットカード情報
                .confirmation__main__info
                  .confirmation__main__info__brand
                    = image_tag "#{@card_src}", class: "confirmation__main__info__brand__img", alt: @card_brand
                  .confirmation__main__info__numbers
                    .number
                      = "**** **** **** " + @card_information.last4
                    .expiration-date
                      .expiration-date__label
                        有効期限
                      .expiration-date__info
                        - exp_month = @card_information.exp_month.to_s
                        - exp_year = @card_information.exp_year.to_s.slice(2,3)
                        = exp_month + " / " + exp_year
                .destroy-btn
                  = link_to credit_destroy_product_path, method: :delete, class: "destroy-btn" do
                    削除する

          .purchase__main__payment-info__innner__form__user-info
            %h3.purchase__main__payment-info__innner__form__user-info__destination
              配送先
            -if current_user.destination.nil?
              %p.purchase__main__payment-info__innner__form__user-info__text
                = link_to new_user_destination_path(current_user.id) , class: "purchase__main__payment-info__innner__form__user-info__text" do
                  = icon('fas', 'plus-circle')
                  登録してください
            -else
              %p.purchase__main__payment-info__innner__form__user-info__text
                ="#{@destination.city}#{@destination.block}#{@destination.building}"

          .purchase__main__payment-info__innner__form__submit
            %input{type: "submit", class: "purchase__main__payment-info__innner__form__submit__submit-btn", value:'購入する'}

  .purchase__footer
    = render "footer_products"