.show
  .show__header
    = render "shared/header"

  .show__navbar
    %ul
      %li 
        = link_to root_path , class: "show_navbar-top" do
          FURIMA
      %li 
        = icon('fa', 'angle-right')
      %li 
        = @product.product_category.root.name
      %li
        = icon('fa', 'angle-right')
      %li
        = @product.product_category.parent.name
      %li
        = icon('fa', 'angle-right')
      %li 
        = @product.product_category.name
      %li
        = icon('fa', 'angle-right')
      %li.show__navbar--last
        product3

  .show__main

    .show__main__product
      .show__main__product__content
        .show__main__product__content__information
          %h2.show__main__product__content__information__name
            = @product.name

          -# 編集・削除ボタン（現在のユーザーが出品者かどうかで場合分け）
          -if user_signed_in? && current_user.id == @product.seller_id
            %ul.show__main__product__content__information__btn
              %li
                = link_to "編集する", "#", class: "show__main__product__content__information__btn--edit", method: :get
              %li
                = link_to "削除する", product_path(@product), class: "show__main__product__content__information__btn--delete", method: :delete
          -else

          -# 商品が存在しているか否かで場合分け
          -if @product.buyer_id.present?
            .show__main__product__content__information__body
              %ul 
                %li
                  = image_tag @product.product_images[0].image.url
                  %ul
                    %li
                      = image_tag @product.product_images[0].image.url
                      
              .show__main__product__content__information__body--soldout

          -else
            .show__main__product__content__information__body
              %ul 
                %li
                  = image_tag @product.product_images[0].image.url
                  %ul
                    %li
                      = image_tag @product.product_images[0].image.url
                    
          .show__main__product__content__information__price
            %span
              ¥
              = @product.price
            .show__main__product__content__information__price__detail
              %span
                (税込)
              %span
                = @product.postage_way_id

          .show__main__product__content__information__introduction
            = @product.description

          .show__main__product__content__information__table
            %table
              %tbody
                %tr
                  %th
                    出品者
                  %td
                    = @product.seller.nickname
                %tr
                  -# 後ほどカテゴリ機能で実装予定
                  %th
                    カテゴリー
                  %td
                    = link_to "#", class: "show__main__product__content__information__table__category" do
                      = @product.product_category.root.name
                    %br/
                    = link_to "#", class: "show__main__product__content__information__table__category" do
                      = @product.product_category.parent.name
                    %br/
                    = link_to "#", class: "show__main__product__content__information__table__category" do
                      = @product.product_category.name
                %tr
                  %th
                    ブランド
                  %td
                    -# ブランド名があるかないかで場合分け
                    -if @product.product_brand != nil
                      = @product.product_brand.brand_name
                      
                    -else
                      
                %tr
                  %th
                    商品のサイズ
                  %td
                    = @product.product_size_id
                %tr
                  %th
                    商品の状態
                  %td
                    = @product.product_condition_id
                %tr
                  %th
                    配送料の負担
                  %td
                    = @product.postage_way_id
                %tr
                  %th
                    発送元の地域
                  %td
                    = link_to "#", class: "show__main__product__content__information__table__derection" do
                      = @product.prefecture_id
                %tr
                  %th
                    発送日の目安
                  %td
                    = @product.shipping_day_id

          -# ユーザーが出品者かそうで無いかでボタン表示の場合分け
          - if user_signed_in? && current_user.id == @product.seller_id

          - else
            .show__main__product__content__information__option 
              %ul.show__main__product__content__information__option__btn
                %li.show__main__product__content__information__option__btn--favorite
                  = icon('fa', 'star')
                  お気に入り 0
              -# 商品が品切れかどうかで場合分け
              - if @product.buyer_id != nil
                %ul.show__main__product__content__information__option__btn
                  %li.show__main__product__content__information__option__btn--soldout
                    品切れ中
              - else
                %ul.show__main__product__content__information__option__btn
                  %li.show__main__product__content__information__option__btn--purchase
                    = link_to purchase_products_path(@product), class: "show__main__product__content__information__option__btn--purchase" do
                      購入画面に進む
              %ul.show__main__product__content__information__option__btn
                %li.show__main__product__content__information__option__btn--report
                  = link_to "#", class: "show__main__product__content__information__option__btn--report" do
                    = icon('fa', 'flag')
                    不適切な商品の通報

        .show__main__product__content__comment
          %ul.show__main__product__content__comment__text
          %form(class="show__main__product__content__comment__form" action="#" method="post")
            %textarea(name="" class="show__main__product__content__comment__form__textarea" id="comment_body")
            %p.show__main__product__content__comment__form__notice
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %button(name="button" class="show__main__product__content__comment__form__button" type="submit" )
              = icon('fa', 'comment')
              コメントする

      %ul.show__main__product__links 
        %li
          = link_to "#", class: "show__main__links__before" do
            = icon('fa', 'angle-left')
            前の商品
        %li 
          = link_to "#", class: "show__main__links__after" do
            後ろの商品
            = icon('fa', 'angle-right')

      .show__main__product__related
        = link_to "#", class: "show__main__product__related__items" do
          -# カテゴリ機能で修正予定
          ベビー・キッズをもっと見る
        %ul.show__main__product__related__lists
          %li.show__main__product__related__lists__list
            = link_to "#", class: ".show__main__product__related__lists__list" do
              .show__main__product__related__lists__list__img

              .show__main__product__related__lists__list__body
                %h3
                .show__main__product__related__lists__list__body__details
                  %ul
                    %li
                    %li
                      = icon('', '')
                  %p  

  .show__banner
    = render "shared/bottom-banner"

  .show__footer
    = render "shared/footer"

  -# 今後使用しない場合削除予定↓
  .show__putupBtn
    = render "shared/sell-btn"