.show
  .show__header
    = render "shared/header"

  .show__navbar
    %ul
      %li 
        = link_to root_path , class: "show_navbar-top" do
          FURIMA
      %li 
        = icon('fa', 'angle-right')
      %li 
        = @product.product_category.root.name
      %li
        = icon('fa', 'angle-right')
      %li
        = @product.product_category.parent.name
      %li
        = icon('fa', 'angle-right')
      %li 
        = @product.product_category.name
      %li
        = icon('fa', 'angle-right')
      %li.show__navbar--last
        = @product.name

  .show__main

    .show__main__product
      .show__main__product__content
        .show__main__product__content__information
          %h2.show__main__product__content__information__name
            = @product.name

          -# 編集・削除ボタン（現在のユーザーが出品者かどうかで場合分け）
          -if user_signed_in? && current_user.id == @product.seller_id
            %ul.show__main__product__content__information__btn
              %li
                = link_to "編集する", edit_product_path(@product), class: "show__main__product__content__information__btn--edit", method: :get
              %li
                = link_to "削除する", product_path(@product), class: "show__main__product__content__information__btn--delete", method: :delete
          -else
          
          -# 商品が存在しているか否かで売り切れ表示の場合分け
          -if @product.buyer_id.present?
            .show__main__product__content__information__image
              %ul.show__main__product__content__information__image__top
                %li.show__main__product__content__information__image__top--list
                  = image_tag @product.product_images[0].image.url
              %ul.show__main__product__content__information__image__sub
                - @product.product_images.each do |product_image|
                  %li.show__main__product__content__information__image__sub--list
                    = image_tag product_image.image.url
                    
              .show__main__product__content__information__image--soldout

          -else
            .show__main__product__content__information__image
              %ul.show__main__product__content__information__image__top
                %li.show__main__product__content__information__image__top--list
                  = image_tag @product.product_images[0].image.url
              %ul.show__main__product__content__information__image__sub
                - @product.product_images.each do |product_image|
                  %li.show__main__product__content__information__image__sub--list
                    = image_tag product_image.image.url

          .show__main__product__content__information__price
            %span
              ¥
              = @product.price
            .show__main__product__content__information__price__detail
              %span
                (税込)
              %span
                = @product.postage_way_id

          .show__main__product__content__information__introduction
            = @product.description

          .show__main__product__content__information__table
            %table
              %tbody
                %tr
                  %th
                    出品者
                  %td
                    = @product.seller.nickname
                %tr
                  %th
                    カテゴリー
                    -if @product.product_category.depth == 2
                      %td
                        = link_to "#", class: "show__main__product__content__information__table__category" do
                          = @product.product_category.root.name
                        %br/
                        = link_to "#", class: "show__main__product__content__information__table__category" do
                          = @product.product_category.parent.name
                        %br/
                        = link_to "#", class: "show__main__product__content__information__table__category" do
                          = @product.product_category.name
                    -else
                      %td
                        = link_to "#", class: "show__main__product__content__information__table__category" do
                          = @product.product_category.root.name
                        %br/
                        = link_to "#", class: "show__main__product__content__information__table__category" do
                          = @product.product_category.name
                %tr
                  %th
                    ブランド
                  %td
                    -# ブランド名があるかないかで場合分け
                    -if @product.product_brand != nil
                      = @product.product_brand.brand_name
                      
                    -else
                      
                %tr
                  %th
                    商品のサイズ
                  %td
                    -if @product.product_size.present?
                      = @product.product_size.name
                    - else
                      サイズなし
                %tr
                  %th
                    商品の状態
                  %td
                    = @product.product_condition_id
                %tr
                  %th
                    配送料の負担
                  %td
                    = @product.postage_way_id
                %tr
                  %th
                    発送元の地域
                  %td
                    = link_to "#", class: "show__main__product__content__information__table__derection" do
                      = @product.prefecture_id
                %tr
                  %th
                    発送日の目安
                  %td
                    = @product.shipping_day_id

          -# ユーザーが出品者かそうで無いかでボタン表示の場合分け
          - if user_signed_in? && current_user.id == @product.seller_id

          - else
            .show__main__product__content__information__option 
              %ul.show__main__product__content__information__option__btn
                %li.show__main__product__content__information__option__btn--favorite
                  = icon('fa', 'star')
                  お気に入り 0

              -# 商品が品切れかどうかで場合分け
              - if @product.buyer_id != nil
                %ul.show__main__product__content__information__option__btn
                  %li.show__main__product__content__information__option__btn--soldout
                    売り切れ中
              - else
                %ul.show__main__product__content__information__option__btn
                  %li.show__main__product__content__information__option__btn--purchase
                    -# ユーザーがログインしているか否かで場合分け
                    - if user_signed_in?
                      = link_to purchase_product_path(@product), class: "show__main__product__content__information__option__btn--purchase" do
                        購入画面に進む
                    - else 
                      = link_to new_user_session_path, class: "show__main__product__content__information__option__btn--purchase" do
                        購入には登録が必要です

              %ul.show__main__product__content__information__option__btn
                %li.show__main__product__content__information__option__btn--report
                  = link_to "#", class: "show__main__product__content__information__option__btn--report" do
                    = icon('fa', 'flag')
                    不適切な商品の通報

        .show__main__product__content__comment
          %ul.show__main__product__content__comment__text
            - if @comments
              - @comments.each do |comment| 
                %li.show__main__product__content__comment__text__list
                  .show__main__product__content__comment__text__list__name
                    = comment.user.nickname

                    -# 出品者のコメントの場合、出品者と分かるように表示
                    - if comment.user_id == @product.seller_id
                      %p.show__main__product__content__comment__text__list__name--seller
                        出品者
                    - else 

                    -# コメントした本人のみ削除ボタンを表示
                    -if user_signed_in? && current_user.id == comment.user_id
                      %ul.show__main__product__content__comment__text__list__btn
                        %li
                          = link_to "コメントを削除する", product_comment_path(comment.product.id, comment.id), class: "show__main__product__content__comment__text__list__btn--delete", method: :delete
                    -else

                  .show__main__product__content__comment__text__list__sentence
                    = comment.comment
                
          -# ユーザーがログインしているか否かでコメント投稿フォームの表示切り替え
          - if current_user
            = form_with(model: [@product, @comment], class: "show__main__product__content__comment__form", local: true, id: "new_comment") do |form|
              = form.text_area :comment, placeholder: "500文字まで入力可能です", maxlength: 500,  class: "show__main__product__content__comment__form__textbox"
              %p.show__main__product__content__comment__form__notice
                相手のことを考え丁寧なコメントを心がけましょう。
                %br/
                不快な言葉遣いなどは利用制限や退会処分となることがあります。
              = button_tag type: 'submit', class: "show__main__product__content__comment__form__submit" do
                = icon('fa', 'comment')
                コメントする

          - else 
            %p.show__main__product__content__comment__form__unlogin
              ※※※ コメントの投稿には新規登録/ログインが必要です ※※※

      %ul.show__main__product__links 
        %li
          = link_to "#", class: "show__main__links__before" do
            = icon('fa', 'angle-left')
            前の商品
        %li 
          = link_to "#", class: "show__main__links__after" do
            後ろの商品
            = icon('fa', 'angle-right')

      .show__main__product__related
        = link_to "#", class: "show__main__product__related__items" do
          = @product.product_category.root.name
          をもっと見る
        %ul.show__main__product__related__lists
          %li.show__main__product__related__lists__list
            = link_to "#", class: ".show__main__product__related__lists__list" do
              .show__main__product__related__lists__list__img

              .show__main__product__related__lists__list__body
                %h3
                .show__main__product__related__lists__list__body__details
                  %ul
                    %li
                    %li
                      = icon('', '')
                  %p  

  .show__banner
    = render "shared/bottom-banner"

  .show__footer
    = render "shared/footer"
